@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body{
    background-color: #628E90;
    color: white;
}

header{
    display: flex;
    justify-content: center;
    padding: 15px;
    margin: 20px;
}

header h1{
    font-size: 40px;
    text-transform: uppercase;
    color: #d8d9da;
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

header h1 img{
    width: 40px;
}

main{
    min-height: calc(100vh - 150px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

main p{
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: #d8d9da;
    line-height: 20px;
    text-align: center;
}

main p .material-symbols-outlined{
    background-color: #436d63;
    color: #d8d9da;
    border-radius: 50%;
    padding: 2px;
}

main p .note{
    background-color: #436d63;
    padding: 2px;
    border-radius: 2px;
}

main .card{
    width: 450px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #436d63;
}

main .card .text-field{
    width: 400px;
    height: 50px;
    padding: 15px;
    border: none;
    outline: none;
    background-color: #436d63;
    color: #d8d9da;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

main .card .text-field::placeholder{
    color: #d8d9daa9;
}

main .card .send-btn{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    background-color: #436d63;
    color: #d8d9da;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.4s;
}

main .card .send-btn:hover{
    background-color: #243b36;
}

main .box-notes{
    width: 500px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
}

main .box-notes .note-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

main .box-notes .note{
    background-color:#436d63;
    color: #d8d9da;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    width: 450px;
    min-height: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transition: 0.4s;
}

main .box-notes .note:hover{
    
    cursor: pointer;
    background-color: #243b36;
}